.User-table {
    margin: auto;
    padding: 8px 0px;
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
    padding: 4px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #2f8d88;
    color: white;
    border: 1px solid #ddd;
}

tr:nth-child(even){background-color: #d6fffc;}

tr:hover {background-color: #ddd;}

.link {
    text-decoration: none;
}